<div id="rec-img">
    <div class="img-container">
        {% if imgs %}
        {% for img in imgs.object_list %}

        <a class="user-imgs" style="background-image:url('{{ img.img.url }}');">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="del_img">
                <input type="hidden" name="user" value="{{ request.user }}">
                <input type="hidden" name="del" value="{{ img }}">
                <input type="submit" class="btn btn-danger m-2" value="Delete">
            </form>
        </a>

        {% endfor %}
        {% else %}
         <span class="text-secondary" id="empty-img">
                <svg xmlns="http://www.w3.org/2000/svg" height="10em" viewBox="0 0 512 512">
                    <path d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/>
                </svg>
                <br>
                No recent images
         </span>

        {%endif%}

        <nav aria-label="Page navigation example" style="display:block; position:fixed; bottom:-5px; z-index:999;">
          <ul class="pagination">
              {% if page_no.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'dashboard' %}?page={{ page_no.previous_page_number }}">Previous</a></li>
              {% endif %}

            <li class="page-item"><a {% if page_no == '1' %}
                    class="page-link bg-primary text-light"
                {% else %}
                    class="page-link"
                {% endif %} href="#">1</a></li>

            <li class="page-item"><a {% if page_no == '2' %}
                    class="page-link bg-primary text-light"
                {% else %}
                    class="page-link"
                {% endif %} href="#">2</a></li>

            <li class="page-item"><a {% if page_no == '3' %}
                    class="page-link bg-primary text-light"
                {% else %}
                    class="page-link"
                {% endif %} href="#">3</a></li>

              {% if page_no.has_next %}
              <li class="page-item"><a class="page-link" href="{% url 'dashboard' %}?page={{ page_no.next_page_number }}">Next</a></li>
              {% endif %}
          </ul>
        </nav>
    </div>

</div>
