{% extends 'base.html' %}

{% block content %}
    <div class="signup-container">
        <div class="container" id="div1">
            <h1 class="type-write-box">
                <a href="" class="typewrite text-light" data-period="2000" data-type='[ "A World of Terrain.", "Landscapes at a Glance.", "Terrain Tales.", "Land Cover Chronicles." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>

        <div class="container" id="div2">
            {% include 'alert.html' %}
            <a class="float-left" href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                    <path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z"/>
                </svg>
            </a>
            <h2 class="container-fluid text-center align-center mt-5">Sign Up</h2>
            <form method="post" id="signup-form" class="container">

                {% csrf_token %}
                <div class="form-group">
                    <label>Username</label>
                    <br>
                    {{ uform.username }}
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <br>
                    {{ uform.email }}
                </div>

                <div class="form-group">
                    <label>First name</label>
                    <br>
                    {{ uform.first_name }}
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <br>
                    {{ uform.last_name }}
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <br>
                    {{ uform.password1 }}
                </div>

                <div class="form-group">
                    <label>Confirm password</label>
                    <br>
                    {{ uform.password2 }}
                </div>

                <input type="submit" value="Signup" class="btn btn-primary mt-3">
            </form>
            <a class="container-fluid" href="{% url 'signin' %}">Already have an account?</a>
        </div>
    </div>
{% endblock %}